<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <main>
        <div class="jumbotron">
            <h1>Listado de Clientes</h1>
            <% if (clientes && clientes.length> 0) { %>
                <table id="tablita" border="1" cellpadding="5" cellspacing="0" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% clientes.forEach(function(cliente) { %>
                            <tr>
                                <td>
                                    <%= cliente.nombre %>
                                </td>
                                <td>
                                    <%= cliente.email %>
                                </td>
                                <td>
                                    <%= cliente.telefono || 'No registra' %>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-primary"> Ver detalles </button>
                                    <button type="button" class="btn btn-outline-success"> Editar </button>
                                    <button type="button" class="btn btn-outline-danger"> Eliminar </button>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
                <% } else { %>
                    <p>No hay clientes registrados.</p>
                    <% } %>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>