<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>Listado de Clientes</h1>
            <% if (clientes && clientes.length> 0) { %>
                <table id="tablita" border="1" cellpadding="5" cellspacing="0" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% clientes.forEach(function(cliente) { %>
                            <tr>
                                <td>
                                    <%= cliente.nombre %>
                                </td>
                                <td>
                                    <%= cliente.email %>
                                </td>
                                <td>
                                    <%= cliente.telefono || 'No registra' %>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                        data-bs-target="#verclientes"
                                        onclick="verclientes('<%= cliente.nombre %>', '<%= cliente.email %>', '<%= cliente.telefono %>')">
                                        Ver detalles </button>
                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#editarclientes"
                                        onclick="editarclientes('<%= cliente._id %>', '<%= cliente.nombre %>', '<%= cliente.email %>', '<%= cliente.telefono %>')">
                                        Editar </button>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#eliminarclientes"
                                        onclick="eliminarclientes('<%= cliente._id %>', '<%= cliente.nombre %>', '<%= cliente.email %>', '<%= cliente.telefono %>')">
                                        Eliminar </button>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
                <% } else { %>
                    <p>No hay clientes registrados.</p>
                    <% } %>
        </div>

        <!-- The Modal -->
        <div class="modal" id="verclientes">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Detalles del cliente</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <p><strong>Nombre:</strong> <span id="vernombre"></span></p>
                        <p><strong>Email:</strong> <span id="veremail"></span></p>
                        <p><strong>Teléfono:</strong> <span id="vertelefono"></span></p>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="editarclientes">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title"> Actualizar cliente </h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <form action="/api/v1/clientes/actualizar" method="POST">
                        <input type="hidden" id="editId" name="id">
                        <div>
                            <strong> <label for="nombre"> Nombre: </label></strong>
                            <input type="text" id="editNombre" name="nombre">
                        </div>
                        <br>
                        <div>
                            <strong> <label for="email"> Email: </label></strong>
                            <input type="email" id="editEmail" name="email">
                        </div>
                        <br>
                        <div>
                            <strong><label for="telefono"> Telefono: </label></strong>
                            <input type="text" id="editTelefono" name="telefono">
                        </div>
                        <br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal" id="eliminarclientes">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title"> Eliminar cliente </h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <form action="/api/v1/clientes/eliminar" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" id="deleteId" name="id">
                        <div>
                            <strong> <label for="nombre"> Nombre: </label></strong>
                            <input type="text" id="deleteNombre" name="nombre">
                        </div>
                        <br>
                        <div>
                            <strong> <label for="email"> Email: </label></strong>
                            <input type="email" id="deleteEmail" name="email">
                        </div>
                        <br>
                        <div>
                            <strong><label for="telefono"> Telefono: </label></strong>
                            <input type="text" id="deleteTelefono" name="telefono">
                        </div>
                        <br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Eliminar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script>
        function verclientes(nombre, email, telefono) {
            document.getElementById('verclientes').style.display = 'block';
            document.getElementById('vernombre').textContent = nombre;
            document.getElementById('veremail').textContent = email;
            document.getElementById('vertelefono').textContent = telefono;
        };

        function editarclientes(id, nombre, email, telefono) {
            document.getElementById('editarclientes').style.display = 'block';
            document.getElementById("editId").value = id;
            document.getElementById("editNombre").value = nombre;
            document.getElementById("editEmail").value = email;
            document.getElementById("editTelefono").value = telefono;
        };

        function eliminarclientes(id, nombre, email, telefono) {
            document.getElementById('eliminarclientes').style.display = 'block';
            document.getElementById("deleteId").value = id;
            document.getElementById("deleteNombre").value = nombre;
            document.getElementById("deleteEmail").value = email;
            document.getElementById("deleteTelefono").value = telefono;

            document.getElementById('');
        };  
    </script>
</body>

</html>